{% extends "core/base.html" %}

{% block title %}Correo Enviado con Éxito{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title">Correo Enviado con Éxito</h5>
            <p>Se ha enviado un correo electrónico con instrucciones para cambiar tu contraseña.</p>
            <p>Por favor, revisa tu bandeja de entrada.</p>
        </div>
    </div>
</div>
{% endblock %}